.text-input{
    border: 1px solid #cacadc;
    height: 50px;
    font-size: 20px;
    font-weight: 300;
    padding: 0 $s-size;
    font-family: Helvetica, 'Times New Roman', Arial, sans-serif;

}

.select {
    @extend .text-input;

}

textarea{
    padding: $s-size !important;
    height: 200px !important;
}

.form__button{
    font-size: 25px;
    font-weight: 100 !important;
}